@import './base/_variables.scss';
@import './components/_header.scss';
@import './components/_mainSubpaginas.scss';
@import './components/_contacto.scss';
@import './components/_footer.scss';
@import './components/_index.scss';
@import './components/_ubicacion.scss';
@import './components/_academia.scss';




